<!DOCTYPE html>
<html>
	<head>
	<title>Koha-Suomi - Laskutustyökalu</title>
	<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">

		<!-- Bootstrap core CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
		<!-- Custom styles for this template-->
		<script src="https://unpkg.com/vue@2.6.14/dist/vue.js"></script>
		<script src="https://unpkg.com/vuex@3.6.2/dist/vuex.min.js"></script>
		<script src="https://unpkg.com/vuejs-datepicker"></script>
		<script src="https://unpkg.com/vuejs-datepicker/dist/locale/translations/fi.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
		<script src="https://printjs-4de6.kxcdn.com/print.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://printjs-4de6.kxcdn.com/print.min.css">
	</head>
	<body>

		<!-- Breadcrumb -->
        <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/cgi-bin/koha/mainpage.pl">Etusivu</a></li>
            <li class="breadcrumb-item"><a href="/cgi-bin/koha/plugins/plugins-home.pl">Plugit</a></li>
            <li class="breadcrumb-item active" aria-current="page">Laskutustyökalu</li>
            </ol>
        </nav>
        <!-- /Breadcrumb -->
		<div id="content-wrapper">
			<div class="container-fluid">
				<main role="main" class="ml-sm-auto pt-3 px-4">
				<div id="viewApp">
					<div class="alert alert-danger" role="alert" v-if="errors.length">
						<b>Tapahtui virhe:</b>
						<ul class="text-danger">
							<li v-for="error in errors">{{ error }}</li>
						</ul>
					</div>
					<div class="alert alert-success" role="alert" v-if="created">
						<b>Luonti onnistui!</b>
					</div>
					<div v-if="showPDF">
						<ul class="nav nav-pills mb-3 mt-3 justify-content-center">
							<li class="nav-item pr-2">
								<button class="btn btn-default" v-on:click="back">Takaisin</button>
							</li>
							<li class="nav-item pr-2">
								<button class="btn btn-success" v-on:click="printPDF">Tulosta</button>
							</li>
						</ul>
						<hr/>
						<div class="flex-row">
							<div :class="{'d-none': !showLoader }">
								<div class="row w-100 p-3">
									<div class="col text-center">
										<i class="fas fa-circle-notch fa-spin fa-3x"></i>
									</div>
								</div>
							</div>
							<div class="d-flex justify-content-center" :class="{'d-none': showLoader }">
								<div id="printDoc" class="preview a4-width" v-html="notice"></div>
							</div>
						</div>
					</div>
					<div v-else>
						<div class="alert alert-info pb-0" role="alert">
							<ul class="nav">
								<li class="nav-item pr-2">
									<div class="pt-1">
										<vuejs-datepicker :value="startDate" :language="fi" format="dd.MM.yyyy" @selected="updateStartDate($event)"></vuejs-datepicker>
									</div>
								</li>
								<li class="nav-item pr-2 pl-2">
									<div class="pt-1">
										<vuejs-datepicker :value="endDate" :disabled-dates="disabledEndDates" :language="fi" format="dd.MM.yyyy" @selected="updateEndDate($event)"></vuejs-datepicker>
									</div>
								</li>
								<li class="nav-item pl-2">
									<label for="invoiced" class="btn btn-default">Näytä laskutetut <input type="checkbox" id="invoiced" @change="changeInvoiced($event)" class="badgebox" ><span class="badge">&check;</span></label>
								</li>
								<li class="nav-item pl-2">
									<div class="row">
										<label for="categorycode" class="col-sm-5 col-form-label">Asiakasryhmä</label>
										<div class="col-sm-6">
											<select class="form-control bg-default" id="categorycode" @change="onCategoryChange($event)">
												<option value=""></option>
												<option v-for="code in selectCategory" :value="code">{{code}}</option>
											</select>
										</div>
									<div>
								</li>
								<li class="nav-item pl-2">
									<div class="form-group row">
										<label for="formControlRange" class="col-sm-6 col-form-label pr-1">Minimi summa: <span id="rangeval">{{sumFilter}}</span>€</label>
										<input type="range" @change="filterResults($event)" min="0" max="100" step="5" :value="sumFilter" class="form-control-range col-sm-5" id="formControlRange" onInput="$('#rangeval').html($(this).val())">
									</div>
								</li>
								<li v-if="results.length" :class="{'d-none': showLoader }" class="nav-item pl-2">
									<div class="form-group row">
										<button v-if="invoiceType == 'FINVOICE'"class="btn btn-info" v-on:click="allFinvoices" :disabled='finvoiceBtn'><i v-if="finvoiceBtn" class="fas fa-circle-notch fa-spin"></i><span v-else>Luo Finvoice:t</span></button>
										<button v-if="invoiceType == 'EINVOICE'"class="btn btn-info" v-on:click="allEinvoices" :disabled='einvoiceBtn'><i v-if="einvoiceBtn" class="fas fa-circle-notch fa-spin"></i><span v-else>Luo e-laskut</span></button>
										<button v-if="invoiceType == 'ODUECLAIM'"class="btn btn-info" :disabled='pdfBtn' v-on:click="allPDFs(false)"><i v-if="pdfBtn" class="fas fa-circle-notch fa-spin"></i><span v-else>Luo PDF:t</span></button>
										<button class="btn btn-info ml-1" :disabled='previewBtn' v-on:click="allPDFs(true)"><i v-if="previewBtn" class="fas fa-circle-notch fa-spin"></i><span v-else>Jäljennökset</span></button>
									</div>
								</li>
							</ul>
						</div>
						<div>
						<div :class="{'d-none': showLoader }" v-if="!results.length" class="alert alert-warning" role="alert">
							Aikavälillä ei ole laskutettavia lainoja!
						</div>
						<div v-else>
							<div>
								<b> Tuloksia: {{totalResults}} </b>
							</div>
							<div class="row d-table w-100 p-3 border-bottom" style="table-layout:fixed;">
								<ul class="list-inline d-table-row font-weight-bold">
									<li class="list-inline-item d-table-cell">Lainaaja</li>
									<li class="list-inline-item d-table-cell">Takaaja</li>
									<li class="list-inline-item d-table-cell">Toiminnot</li>
								</ul>
							</div>
							<div is="result-list"
								v-for="(result, index) in results" 
								:key="index"
								:index="index"
								v-bind:result="result"
								ref="resultComponentRef">
							</div>
						</div>
						<div :class="{'d-none': !showLoader }">
							<div class="row w-100 p-3">
								<div class="col text-center">
									<i class="fas fa-circle-notch fa-spin fa-3x"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
				</main>
			</div>
			<!-- Modal -->
			<div class="modal fade" id="reloadModal" tabindex="-1" role="dialog" aria-labelledby="reloadModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Lataa sivu uudelleen</h5>
					</div>
					<div class="modal-body">
						Laskutustyökalu on päivittynyt, lataa sivu uudelleen.
					</div>	
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" onclick="location.reload(true);" >Lataa</button>
					</div>
					</div>
				</div>
			</div>
		</div>
		<template id="list-items">
			<div>
				<div class="row d-table w-100 p-3" style="table-layout:fixed;" :class="{'odd-cell': index % 2 !== 0 }">
					<ul class="list-inline w-100 d-table-row">
						<li class="list-inline-item d-table-cell">
							<span class="d-block"><a :href="'/cgi-bin/koha/members/moremember.pl?borrowernumber='+result.borrowernumber" target="_blank">{{result.cardnumber}}</a></span>
							<span class="d-block">{{result.firstname}} {{result.surname}} ({{result.dateofbirth}}, {{result.patronssnkey}})</span>
							<span class="d-block">{{result.address}}, {{result.zipcode}} {{result.city}}</span>
						</li>
						<li class="list-inline-item d-table-cell">
							<patrondata v-if="result.guarantorid" :borrowernumber="result.guarantorid" :guarantorssnkey="result.guarantorssnkey"></patrondata>
						</li>
						<li class="list-inline-item d-table-cell">
							<button class="btn btn-info" v-on:click="activate"><i class='fas fa-angle-down' :class="{'fa-angle-up': isActive}" style='font-size:24px'></i></button>
							<span v-if="!invoiced">
								<button v-if="invoiceType == 'FINVOICE'" class="btn btn-success" v-on:click="createInvoice(false)">Luo Finvoice</button>
								<button v-if="invoiceType == 'EINVOICE'" class="btn btn-success" v-on:click="createInvoice(false)">Luo e-lasku</button>
								<button v-if="invoiceType == 'ODUECLAIM'" class="btn btn-success" v-on:click="previewPDF(false, false)">Luo pdf-lasku</button>
							</span>
							<button class="btn btn-success" v-on:click="previewPDF(true, true)">Jäljennös</button>
						</li>
					</ul>
				</div>
				<div class="row d-none w-100 p-3" :class="{'d-table': isActive, 'odd-cell': index % 2 !== 0 }">
					<ul class="list-inline d-table-row font-weight-bold">
						<li class="list-inline-item d-table-cell"></li>
						<li class="list-inline-item d-table-cell">Laskuta</li>
						<li class="list-inline-item d-table-cell">Eräpäivä</li>
						<li class="list-inline-item d-table-cell">Nidenumero</li>
						<li class="list-inline-item d-table-cell">Korvaushinta</li>
						<li class="list-inline-item d-table-cell">Nimeke</li>
					</ul>
					<ul class="list-inline w-100 d-table-row" v-for="(checkout, index) in result.checkouts" :key="checkout.itemnumber">
						<li class="list-inline-item d-table-cell">{{index + 1}}</li>
						<li>
							<selectprice @change="selectedPrice" :itemnumber="checkout.itemnumber" :replacementprice="checkout.replacementprice"></selectprice>
						</li>
						<li class="list-inline-item d-table-cell">
							{{checkout.date_due | moment}}
						</li>
						<li class="list-inline-item d-table-cell">
							<a :href="'/cgi-bin/koha/catalogue/moredetail.pl?biblionumber='+checkout.biblionumber+'&itemnumber='+checkout.itemnumber+'#'+checkout.itemnumber" target="_blank">{{checkout.barcode}}</a>
						</li>
						<li class="list-inline-item d-table-cell">
							<pricedata @change="newPrice" :replacementprice="checkout.replacementprice" :index="index"></pricedata>
						</li>
						<li class="list-inline-item d-table-cell">
							{{checkout.title}} {{checkout.author}}
						</li>
					</ul>
				</div>
			</div>
		</template>
		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<!-- Icons -->
		<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
		<script>
			feather.replace();
		</script>
		<script type="module" src="[% PLUGIN_PATH %]/js/main.js"></script>
		<link rel="stylesheet" href="[% PLUGIN_PATH %]/css/pdf.css">
		<style>
			.odd-cell {
				background-color: #eee;
			}
			.badgebox
			{
				opacity: 0;
			}
			.badgebox + .badge
			{
				text-indent: -999999px;
				width: 27px;
				background: #fff;
			}
			.badgebox:focus + .badge
			{
				box-shadow: inset 0px 0px 5px;
			}

			.badgebox:checked + .badge
			{
				text-indent: 0;
				color: #000;
			}
		</style>
	</body>
</html>